@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4b4166;
}